main {
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    
}

.card-text {
    color:green;
}
.card{
    margin-top: 25px;
    width: 338px;
    height: 520px;
 
}
footer{
  
}    
